.introduction-text {
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}


.introduction-text input {
    width:50%;
    height:50px;
    border:1px solid white;
    padding:25px 25px;
    margin:15px 0;
    position: relative;
}
